.openModal {
    /* Không nên dùng block vì nó phá cái transtion */
    /* display: block; */
    transform: translateY(0);
    opacity: 1;
    transition: all 1s ease-in-out;
}

.closeModal {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1.5s ease-in-out;
}